# EDITED BY Deakum #

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "HADRP, "

## You MAY edit the following:
sv_licenseKey "cfxk_9sl8pfTbkHdfOh4hqxkg_4aZAG4" #get your key from https://keymaster.fivem.net/login
sv_hostname "Night and Day RP" #Name your server
sets sv_projectName "[Night and Day RP]" #Name your server
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!" #\
sets locale "en-US" 
load_server_icon myLogo.png
set sv_enforceGameBuild 2372
set mysql_connection_string "mysql://root@localhost/denalifwstd?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure denalifw-core
ensure [denalifw]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
#add_principal identifier.fivem:13598484 group.admin #Deak -- Add your admins here
